 <div class="jumbotron2 jumbotron-fluid text-center">
  <div class="container">
     <h2 class="p-2">
     Posts You Commented
    </h2>
  </div>
</div>

<div class="text-center">
  <ol>
    {{#each followComment}}
    <li>
      <article class="post mr-5">
        <div class="title">
          <a href="/posts/{{post.id}}">{{post.title}}</a>
        </div>
        <div class="meta mb-5">
           Created by {{user.username}} on {{format_date createdAt}} at {{format_time createdAt}}
            |
          <a href="/posts/{{post.id}}" style="color:tomato">{{comment.length}} {{format_plural "comment" comment.length}}</a>
        </div>
      </article>
    </li>
    {{/each}}
  </ol>
</div>